
/*------------------------------------------------------------
 * Formatting that applies to specific elements or templates 
 *   Listed roughly in order of appearance from top to bottom 
 *   on the page 
 ------------------------------------------------------------*/

body {
    background-color:#f1f1f1;
    font-family: small Arial,Sans-serif;
    margin: 0px;
    padding: 0px;
}

#wrapper {
    margin: auto;
    border:10px solid #ccc;
    max-width:1210px;
    min-width:780px;
}

#header {
    text-align:center;
    border-bottom:1px solid #ccc;
}

#title {
    margin: 10px;
}

#controlBar {
    padding: 5px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

#station {float: left; width: 150px; padding: 10px; }
#year    {float: left; width: 150px; padding: 10px; }
#month   {float: left; width: 125px; padding: 10px; }
#day     {float: left; width: 125px; padding: 10px; }

#station_select {width: 75px;}
#year_select {width: 75px;}
#month_select {width: 50px;}
#day_select {width: 50px;}
#visibility_select {width:80px;}

#frameCounter { margin-left: 20px; }
#frameInfoBar {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/*
#frameNum           {display: inline-block; width: 20px;}
#totalFrames        {display: inline-block; width: 20px;}
*/

#radarCanvas {	
    clear:both;
    width:auto;
    min-height:630px;
    padding: 0px;
}

.radarPane .canvas {
    min-width: 600px;
    position: relative;
    z:index:-1;
    background-color: #000000;
}

.radarPane .radarLayer {
    z-index: 0;
    cursor:default;
    left: 0px;
    top:  0px;
    width: 600px;
    height: 600px;
}

.radarPane .mapLayer
{
    position:absolute;
    z-index: 1;
    cursor:default;
    left: 0px;
    top:  0px;
    width:100%;
    height:100%
} 

.radarPane .graphicsLayer
{
    position:absolute;
    z-index: 2;
    cursor:default;
    left: 0px;
    top:  0px;
    width:100%;
    height:100%
}

.radarPane svg
{
    position:absolute;
}

#infoPanel{
    clear:both;
    width:auto;
    min-height:170px;
    border-top:1px solid #ccc;
    padding: 5px;
}

#roostSequenceTable {
    border-collapse: collapse;
}

#roostSequenceTable td,tr,th
{
    padding: 2px;
    border:1px solid #ccc;
}

#roostSequenceTable td
{
    text-align: right;
}

#bottomButtons{
    padding: 5px;
    clear: both;
    border-top:1px solid #ccc;
}

/*------------------------------------------------------------
 * The following formatting elements are for general things
 * like left/right floats, hidden elements, etc.
 ------------------------------------------------------------*/

.left {
    float: left;
}

a[disabled]{
    color:Grey;
    text-decoration:none; 
    cursor: default;
}

.hidden {
    visibility: hidden;
    position:absolute;
    top: 0px;
    left: 0px;
}


.right {
    float: right;
}

br.clearing{
    clear: both;
}
